<div class="blog-wrapper">
  <div class="blog-col-1">
    <h2><%= @blog.title %></h2>
    <p><%= @blog.topic.title %></p>
    <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

    <div class="blog-content">
      <p>
        <%= markdown(@blog.body) %>
      </p>
    </div>

    <%= link_to 'Back', blogs_path %>
  </div>

    <%= render 'shared/blog_sidebar' %>
</div>
