<%= form_for(@portfolio_item) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <% if @portfolio_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@portfolio_item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% @portfolio_item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle %>
        <%= form.text_field :subtitle, class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="btn btn-primary">
          Upload a main image<%= form.file_field :main_image, style="display:none;" %>
        </label>
      </div>

      <div class="form-group">
        <label class="btn btn-primary">
          Upload a thumb image<%= form.file_field :thumb_image, style="display:none;" %>
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: "form-control", rows: 15 %>
      </div>
    </div>
  </div>

  <hr>

  <div class="col-md-12">
    <h3>Technologies Used:</h3>
    <%= form.fields_for :technologies do |technology_form| %>
      <%= render 'technology_fields', f: technology_form %>
    <% end %>

    <div>
      <%= link_to_add_association 'Add Technology', form, :technologies %>
    </div>
  </div>

  <div class="form-group">
    <%= form.submit 'Save Portfolio Item', class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back', portfolios_path %>
