<div class="card" data-id="<%= portfolio_item.id %>">
  <%= link_to portfolio_show_path(portfolio_item) do %>
  <%= image_tag("thumbnails/#{standardize_title(portfolio_item.title)}-thumb.png", width: '100%') %>
    <%= portfolio_item.title %>
  <% end %>
  <p class="card-text">
  <%= portfolio_item.subtitle %>
  </p>
</div>
