<p id="notice"><%= notice %></p>

<h1>Portfolio Items</h1>

  <% @portfolio_items.each do |item| %>
    <p><%= item.title %></p>
    <p><%= item.subtitle %></p>
    <p><%= item.body %></p>
    <%= image_tag item.thumb_image %>
    <p><%= link_to 'Show', item %></p>
    <p><%= link_to 'Edit', edit_portfolio_path(item) %></p>
    <p><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <br>
    <br>
  <% end %>
<br>

<%= link_to 'New Portfolio Item', new_portfolio_path %>
