<% content_for :site_wrapper_class, 'secondary-wrapper-class' %>

<div class="container portfolio-item-show">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <br>
      <% if logged_in?(:site_admin) %>
        <%= link_to "Edit", edit_portfolio_path(@portfolio_item), class: "btn btn-warning" %>
      <% end %>
      <%= link_to "View All Portfolio Items", portfolios_path %>
      <hr>
      <h3>Project Outline:</h3>
      <ul>
        <% @portfolio_item.technologies.each do |t| %>
          <li><%= t.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row portfolio-desc">
    <h3><em><%= @portfolio_item.subtitle %></em></h3>
    <p><%= markdown @portfolio_item.body %></p>
  </div>
</div>

<%= render 'shared/application_footer' %>
