<header class="masthead mb-auto">
  <div class="masthead-brand"><a href="/"><h3 >tedlopez</h3></a></div>
  <div id="menu-icon"><a href="#"><i class="fa fa-bolt" aria-hidden="true"></i></a></div>
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center app-nav">
      <ul class="nav-menu">
        <li><%= link_to "About Ted", about_ted_path %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
        <li><%= link_to "Noise", noise_path %></li>
        <li><%= link_to "Blog", blogs_path %></li>
        <li><%= link_to "Portfolio", portfolios_path %></li>
        <nav class="nav-login">
          <li><%= login_helper 'nav-link' %></li>
        </nav>
      </ul>
    </nav>
  </div>
</header>
