<div class="lax-wrap main">
  <%= render "about/about_me" %>
  <div class="lax-1"></div>
  <%= render "about/skills" %>
  <div class="lax-2"></div>
  <%= render "about/experience" %>
  <div class="lax-3"></div>
  <%= render "about/education" %>
  <div class="lax-4"></div>
  <%= render "about/interests" %>
</div>

<%= render 'shared/application_footer' %>
