<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <META name="keywords" content="<%= @seo_keywords %>" />
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/application_nav" %>
    <%= render 'shared/blog_masthead' %>

    <div class="blog-wrapper">
      <%= yield %>
      <%= render "shared/blog_sidebar" %>
    </div>
    
    </div>
    <%= render "shared/blog_footer" %>
    <%= alerts %>
  </body>
</html>
